<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Login ADAP</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
    crossorigin="anonymous" />
    <link rel="icon" href="">
    {% load static %}
    {% comment %} Estilos {% endcomment %}    
    <link rel="stylesheet" href="{% static 'Inicio_sesion/css/styles.css' %}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    {% comment %} Scrips JS {% endcomment %}
    <script src="{% static 'Inicio_sesion/js/language.js' %}" defer></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 banner">
                <img src="{% static 'Inicio_sesion/images/imagen6.png' %}" alt="" style="width: 100%;">
            </div>
            <div class="col-md-8" >
                <div class="container text-center">
                    <img src="{% static 'Inicio_sesion/images/LogoU.png' %}" alt="LogoU">   
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form class="col-12" action="{% url 'Inicio_sesion:postlogin' %}" method="post">
                            {% csrf_token %}
                            <h2 class="text-shadow" data-section="form" data-value="title" style="margin-top: 20px;" >Log In</h2>
                            <div class="mb-3 text-start">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                                    <input type="email" class="form-control" placeholder="Email" name="email">
                                </div>
                            </div>
                            <div class="mb-3 text-start">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-lock icon"></i></span>
                                    <input type="password" class="form-control" placeholder="Password" name="password">
                                </div>
                            </div>
                        <div class="d-flex justify-content-center">
                            <input type="submit" value="Log In" style="background-color: #55CC93;">
                        </div>
                        </form>
                        <div class="row justify-content-center mt-3">
                            <div class="col-md-6 text-center">
                                <a href="">Forgot Password?</a>
                            </div>
                            <div class="col-md-6 text-center">
                                <a href="{% url 'Inicio_sesion:signup' %}">Create an accuont?</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="flags-container" id="flags">
                    <div class="flag" data-language="es">
                        <img src="{% static 'Inicio_sesion/images/flag.png' %}" alt="" class="rounded">
                    </div>
                    <div class="flag" data-language="en">
                        <img src="{% static 'Inicio_sesion/images/united-kingdom.png' %}" class="rounded" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
