<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>ADAP</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous" />
    <link rel="icon" href="">
    <link rel="stylesheet" href="css/styles.css"> 
</head>

<body>
    <div class="row">
        <div class="col-md-4">
            <img src="../../../static/images/imagen5.png" alt="" style="width: 100%; height: 950px; margin-left:0%; margin-right: 0%;">
        </div>
        <div class="col-md-8" >
            <div class="container position-relative">
                <div class="position-absolute top-0 end-0">
                    <a href="{% url 'Inicio_sesion:signup' 'es' %}">
                        <img src="../../../static/images/flag.png" alt="" class="rounded float-end" style="width: 5%; margin-left: 15px; margin-right: 15px;">
                    </a>
                    <a href="{% url 'Inicio_sesion:signup' 'en' %}">
                        <img src="../../../static/images/united-kingdom.png" class="rounded float-end" alt="" style="width: 5%;">
                    </a>
                </div>
            </div>
            <div class="container text-center">
                <img src="../../../static/images/LogoU.png" alt="LogoU">
                <h2 class="text-shadow" style="margin-top: 10px; font-size: smaller;">¿Eres empresa? Puedes registrarte como empresa aquí: 
                    <a href="{% url 'Inicio_sesion:signup_business' 'es' %}">Registro ADAP empresas</a> 
                </h2>2
            </div>    
            <form  action="/register_user/"  class="row g-2 mt-3" style="margin-left: 20px; margin-right: 20px;" method="post">
                {% csrf_token %}
                <div class="col-md-6">
                    <div class="mb-3 text-start">
                        <label for="name" class="form-label">Nombres </label>
                        <input type="text" id="name" class="form-control" name="name" placeholder="" required>         
                    </div>
                    <div class="mb-3 text-start">
                        <label for="surname" class="form-label">Apellidos</label>
                        <input type="text" id="surname" class="form-control" name="surname" placeholder="" required>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="idUser" class="form-label">Identificación </label>
                        <input type="text" id="idUser" class="form-control" name="id" placeholder="" required>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="gender" class="form-label">Género</label>
                        <select id="" class="form-select" name="gender" required>
                            <option value="" disabled selected>Seleccione su género</option>
                            <option value="Male">Masculino</option>
                            <option value="Female">Femenino</option>
                            <option value="Other">Otro</option>
                        </select>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="nationality" class="form-label">Nacionalidad</label>
                            <select id="nationality" class="form-select" name="nationality" required>
                                    <option value="" disabled selected>Selecciona tu nacionalidad</option>
                                    <option value="Afgano">Afgano/a</option>
                                    <option value="Albanés">Albanés/a</option>
                                    <option value="Alemán">Alemán/a</option>
                                    <option value="Argelino">Argelino/a</option>
                                    <option value="Argentino">Argentino/a</option>
                                    <option value="Australiano">Australiano/a</option>
                                    <option value="Austríaco">Austríaco/a</option>
                                    <option value="Belga">Belga</option>
                                    <option value="Beninés">Beninés/a</option>
                                    <option value="Boliviano">Boliviano/a</option>
                                    <option value="Botsuano">Botsuano/a</option>
                                    <option value="Brasileño">Brasileño/a</option>
                                    <option value="Británico">Británico/a</option>
                                    <option value="Camerunés">Camerunés/a</option>
                                    <option value="Canadiense">Canadiense</option>
                                    <option value="Checo">Checo/a</option>
                                    <option value="Chileno">Chileno/a</option>
                                    <option value="Chino">Chino/a</option>
                                    <option value="Colombiano">Colombiano/a</option>
                                    <option value="Congoleño">Congoleño/a</option>
                                    <option value="Costarricense">Costarricense</option>
                                    <option value="Croata">Croata</option>
                                    <option value="Cubano">Cubano/a</option>
                                    <option value="Danés">Danés/a</option>
                                    <option value="Ecuatoriano">Ecuatoriano/a</option>
                                    <option value="Egipcio">Egipcio/a</option>
                                    <option value="Español">Español/a</option>
                                    <option value="Estadounidense">Estadounidense</option>
                                    <option value="Eslovaco">Eslovaco/a</option>
                                    <option value="Esloveno">Esloveno/a</option>
                                    <option value="Etíope">Etíope</option>
                                    <option value="Filipino">Filipino/a</option>
                                    <option value="Finlandés">Finlandés/a</option>
                                    <option value="Francés">Francés/a</option>
                                    <option value="Griego">Griego/a</option>
                                    <option value="Guyanés">Guyanés/a</option>
                                    <option value="Holandés">Holandés/a</option>
                                    <option value="Hondureño">Hondureño/a</option>
                                    <option value="Húngaro">Húngaro/a</option>
                                    <option value="Indio">Indio/a</option>                                
                                    <option value="Iraní">Iraní</option>
                                    <option value="Iraquí">Iraquí</option>
                                    <option value="Irlandés">Irlandés/a</option>
                                    <option value="Islandés">Islandés/a</option>
                                    <option value="Israelí">Israelí</option>
                                    <option value="Italiano">Italiano/a</option>
                                    <option value="Jamaicano">Jamaicano/a</option>
                                    <option value="Japonés">Japonés/a</option>
                                    <option value="Keniano">Keniano/a</option>
                                    <option value="Letón">Letón/a</option>
                                    <option value="Libanés">Libanés/a</option>
                                    <option value="Lituano">Lituano/a</option>
                                    <option value="Macedonio">Macedonio/a</option>
                                    <option value="Maltés">Maltés/a</option>
                                    <option value="Marroquí">Marroquí</option>
                                    <option value="Mexicano">Mexicano/a</option>
                                    <option value="Monegasco">Monegasco/a</option>
                                    <option value="Mongol">Mongol/a</option>
                                    <option value="Nepalí">Nepalí</option>
                                    <option value="Neozelandés">Neozelandés/a</option>
                                    <option value="Nicaragüense">Nicaragüense</option>
                                    <option value="Nigeriano">Nigeriano/a</option>
                                    <option value="Norcoreano">Norcoreano/a</option>
                                    <option value="Noruego">Noruego/a</option>
                                    <option value="Panameño">Panameño/a</option>
                                    <option value="Paraguayo">Paraguayo/a</option>
                                    <option value="Peruano">Peruano/a</option>
                                    <option value="Polaco">Polaco/a</option>
                                    <option value="Portugués">Portugués/a</option>
                                    <option value="Puertorriqueño">Puertorriqueño/a</option>
                                    <option value="Rumano">Rumano/a</option>
                                    <option value="Ruso">Ruso/a</option>
                                    <option value="Salvadoreño">Salvadoreño/a</option>
                                    <option value="Serbio">Serbio/a</option>
                                    <option value="Singapurense">Singapurense</option>
                                    <option value="Sirio">Sirio/a</option>
                                    <option value="Sudafricano">Sudafricano/a</option>
                                    <option value="Sueco">Sueco/a</option>
                                    <option value="Suizo">Suizo/a</option>
                                    <option value="Surcoreano">Surcoreano/a</option>
                                    <option value="Surinamés">Surinamés/a</option>
                                    <option value="Tailandés">Tailandés/a</option>
                                    <option value="Turco">Turco/a</option>
                                    <option value="Ucraniano">Ucraniano/a</option>
                                    <option value="Uruguayo">Uruguayo/a</option>
                                    <option value="Venezolano">Venezolano/a</option>
                                    <option value="Vietnamita">Vietnamita</option>
                                    <option value="Yemení">Yemení</option>
                                    <option value="Zimbabuense">Zimbabuense</option>
                                </select>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="phone" class="form-label">Teléfono </label>
                        <input type="text" id="phone" class="form-control" name="phone" placeholder="" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 text-start">
                        <label for="country" class="form-label">País de Residencia </label>
                        <select id="country" class="form-select" name="country" required>
                            <option value="" disabled selected>Selecciona tu país de residencia</option>
                            <option value="Afganistán">Afganistán</option>
                            <option value="Albania">Albania</option>
                            <option value="Alemania">Alemania</option>
                            <option value="Argelia">Argelia</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Australia">Australia</option>
                            <option value="Austria">Austria</option>
                            <option value="Bélgica">Bélgica</option>
                            <option value="Benín">Benín</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Botsuana">Botsuana</option>
                            <option value="Brasil">Brasil</option>
                            <option value="Reino Unido">Reino Unido</option>
                            <option value="Camerún">Camerún</option>
                            <option value="Canadá">Canadá</option>
                            <option value="República Checa">República Checa</option>
                            <option value="Chile">Chile</option>
                            <option value="China">China</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Congo">Congo</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Croacia">Croacia</option>
                            <option value="Cuba">Cuba</option>
                            <option value="Dinamarca">Dinamarca</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Egipto">Egipto</option>
                            <option value="España">España</option>
                            <option value="Estados Unidos">Estados Unidos</option>
                            <option value="Eslovaquia">Eslovaquia</option>
                            <option value="Eslovenia">Eslovenia</option>
                            <option value="Etiopía">Etiopía</option>
                            <option value="Filipinas">Filipinas</option>
                            <option value="Finlandia">Finlandia</option>
                            <option value="Francia">Francia</option>
                            <option value="Grecia">Grecia</option>
                            <option value="Guayana">Guayana</option>
                            <option value="Países Bajos">Países Bajos</option>
                            <option value="Honduras">Honduras</option>
                            <option value="Hungría">Hungría</option>
                            <option value="India">India</option>
                            <option value="Irán">Irán</option>
                            <option value="Irak">Irak</option>
                            <option value="Irlanda">Irlanda</option>
                            <option value="Islandia">Islandia</option>
                            <option value="Israel">Israel</option>
                            <option value="Italia">Italia</option>
                            <option value="Jamaica">Jamaica</option>
                            <option value="Japón">Japón</option>
                            <option value="Kenia">Kenia</option>
                            <option value="Letonia">Letonia</option>
                            <option value="Líbano">Líbano</option>
                            <option value="Lituania">Lituania</option>
                            <option value="Macedonia">Macedonia</option>
                            <option value="Malta">Malta</option>
                            <option value="Marruecos">Marruecos</option>
                            <option value="México">México</option>
                            <option value="Mónaco">Mónaco</option>
                            <option value="Mongolia">Mongolia</option>
                            <option value="Nepal">Nepal</option>
                            <option value="Nueva Zelanda">Nueva Zelanda</option>
                            <option value="Nicaragua">Nicaragua</option>
                            <option value="Nigeria">Nigeria</option>
                            <option value="Corea del Norte">Corea del Norte</option>
                            <option value="Noruega">Noruega</option>
                            <option value="Panamá">Panamá</option>
                            <option value="Paraguay">Paraguay</option>
                            <option value="Perú">Perú</option>
                            <option value="Polonia">Polonia</option>
                            <option value="Portugal">Portugal</option>
                            <option value="Puerto Rico">Puerto Rico</option>
                            <option value="Rumania">Rumania</option>
                            <option value="Rusia">Rusia</option>
                            <option value="El Salvador">El Salvador</option>
                            <option value="Serbia">Serbia</option>
                            <option value="Singapur">Singapur</option>
                            <option value="Siria">Siria</option>
                            <option value="Sudáfrica">Sudáfrica</option>
                            <option value="Suecia">Suecia</option>
                            <option value="Suiza">Suiza</option>
                            <option value="Corea del Sur">Corea del Sur</option>
                            <option value="Surinam">Surinam</option>
                            <option value="Tailandia">Tailandia</option>
                            <option value="Turquía">Turquía</option>
                            <option value="Ucrania">Ucrania</option>
                            <option value="Uruguay">Uruguay</option>
                            <option value="Venezuela">Venezuela</option>
                            <option value="Vietnam">Vietnam</option>
                            <option value="Yemen">Yemen</option>
                            <option value="Zimbabue">Zimbabue</option>
                        </select>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="birthdate" class="form-label">Fecha de nacimiento </label>
                        <input type="date" lang="es" id="birthdate" class="form-control" name="birthdate" placeholder="" required>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="company" class="form-label">Empresa</label>
                        <input type="text" id="company" class="form-control" name="company" placeholder="" required>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="position" class="form-label">Cargo</label>
                        <select id="position" class="form-select" name="position">
                            <option value="" disabled selected>Selecciona tu cargo</option>
                            <option value="CEO">CEO (Director Ejecutivo)</option>
                            <option value="COO">COO (Director de Operaciones)</option>
                            <option value="CFO">CFO (Director Financiero)</option>
                            <option value="CTO">CTO (Director de Tecnología)</option>
                            <option value="CMO">CMO (Director de Marketing)</option>
                            <option value="CIO">CIO (Director de Información)</option>
                            <option value="Director">Director</option>
                            <option value="Gerente">Gerente</option>
                            <option value="Jefe de Departamento">Jefe de Departamento</option>
                            <option value="Supervisor">Supervisor</option>
                            <option value="Analista">Analista</option>
                            <option value="Asistente">Asistente</option>
                            <option value="Especialista">Especialista</option>
                            <option value="Consultor">Consultor</option>
                            <option value="Ingeniero">Ingeniero</option>
                            <option value="Técnico">Técnico</option>
                            <option value="Operario">Operario</option>
                        </select>
                    </div>
                    <div class="mb-3 text-start">
                        <input class="form-check-control" type="checkbox" {% if isEntrepreneur %}checked="checked"{% endif %} id="isEntrepreneurCheckbox" name="isEntrepreneur" value="True">
                        <label class="form-check-label" for="isEntrepreneurCheckbox">¿Eres Emprendedor?</label>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="entrepreneurship" class="form-label">Emprendimiento</label>
                        <input type="text" id="entrepreneurship" class="form-control" name="entrepreneurship" placeholder="">
                    </div>
                </div>
                <div class="mb-3 text-center">
                    <input class="form-check-control" type="checkbox" value="" id="" required>
                    <label class="form-check-label" for="">He Leído y Acepto los Términos y Condiciones</label>
                </div>
                <div class="d-flex justify-content-center">
                    <input type="submit" name="" value="Registrar" style="background-color: #55CC93;">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
