<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/verificacion.css">
    <title>Autenticación en dos pasos</title>
</head>
<body>
    <div class="container">
        <h1>Autenticación en dos pasos</h1>
        <form action="IniciarSesion.html" id="two-step-form">
            <label for="security-code">Ingresa el código de seguridad enviado a tu correo:</label>
            <input type="text" id="security-code" name="security-code" required>

            <label for="password">contraseña:</label>
            <input type="password" id="password" name="password" required>

            <input type="checkbox" id="terms" name="terms" required>
            <label for="terms">acepto los terminos y condiciones</label>

            <button type="submit">ingresar</button>
        </form>
    </div>
</body>
</html>