
img {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
}

.boton {
    color: #55CC93;
}

.form {
    margin: auto;
    width: 70%;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0 0 0/30%);
    margin-top: 30px;
}

.form-label {
    margin-left: 0%;
    text-align: start;
}

