<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>ADAP</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous" />
    <link rel="icon" href="">
    <link rel="stylesheet" href="css/styles.css"> 
</head>

<body>
    <div class="row">
        <div class="col-md-4">
            <img src="img/imagen6.png" alt="" style="width: 100%; height: 850px; margin-left:0%; margin-right: 0%;">
        </div>
        <div class="col-md-8" >
            <div class="container position-relative">
                <div class="position-absolute top-0 end-0">
                    <a href="Empresa_Registro.html">
                        <img src="img/flag.png" alt="" class="rounded float-end" style="width: 5%; margin-left: 15px; margin-right: 15px;">
                    </a>
                    <a href="Company_SignUp.html">
                        <img src="img/united-kingdom.png" class="rounded float-end" alt="" style="width: 5%;">
                    </a>
                </div>
            </div>
            <div class="container text-center">
                <img src="img/LogoU.png" alt="LogoU">
                <h2 class="text-shadow" style="margin-top: 10px; font-size: smaller;">Are you not a company? You can register as a user here: 
                    <a href="SignUp.html">Sign Up ADAP </a> 
                </h2>
            </div>    
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form style="width: 100%;">
                        <div class="mb-3 text-start">
                            <label for="" class="form-label">Company Name </label>
                            <input type="text" id="" class="form-control" name="" placeholder="">         
                        </div>
                        <div class="mb-3 text-start">
                            <label for="" class="form-label">Date of Foundation</label>
                            <input type="date" lang="es" id="" class="form-control" name="" placeholder="">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="" class="form-label">Email </label>
                            <input type="text" id="" class="form-control" name="" placeholder="">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="" class="form-label">Phone </label>
                            <input type="text" id="" class="form-control" name="" placeholder="">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="" class="form-label">Country of Residence</label>
                            <select id="" class="form-select" name="">
                                <option value="" disabled selected>Select your country of residence</option>
                                <option value="Afghanistan">Afghanistan</option>
                                <option value="Albania">Albania</option>
                                <option value="Germany">Germany</option>
                                <option value="Algeria">Algeria</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Australia">Australia</option>
                                <option value="Austria">Austria</option>
                                <option value="Belgium">Belgium</option>
                                <option value="Benin">Benin</option>
                                <option value="Bolivia">Bolivia</option>
                                <option value="Botswana">Botswana</option>
                                <option value="Brazil">Brazil</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="Cameroon">Cameroon</option>
                                <option value="Canada">Canada</option>
                                <option value="Czech Republic">Czech Republic</option>
                                <option value="Chile">Chile</option>
                                <option value="China">China</option>
                                <option value="Colombia">Colombia</option>
                                <option value="Congo">Congo</option>
                                <option value="Costa Rica">Costa Rica</option>
                                <option value="Croatia">Croatia</option>
                                <option value="Cuba">Cuba</option>
                                <option value="Denmark">Denmark</option>
                                <option value="Ecuador">Ecuador</option>
                                <option value="Egypt">Egypt</option>
                                <option value="Spain">Spain</option>
                                <option value="United States">United States</option>
                                <option value="Slovakia">Slovakia</option>
                                <option value="Slovenia">Slovenia</option>
                                <option value="Ethiopia">Ethiopia</option>
                                <option value="Philippines">Philippines</option>
                                <option value="Finland">Finland</option>
                                <option value="France">France</option>
                                <option value="Greece">Greece</option>
                                <option value="Guyana">Guyana</option>
                                <option value="Netherlands">Netherlands</option>
                                <option value="Honduras">Honduras</option>
                                <option value="Hungary">Hungary</option>
                                <option value="India">India</option>
                                <option value="Iran">Iran</option>
                                <option value="Iraq">Iraq</option>
                                <option value="Ireland">Ireland</option>
                                <option value="Iceland">Iceland</option>
                                <option value="Israel">Israel</option>
                                <option value="Italy">Italy</option>
                                <option value="Jamaica">Jamaica</option>
                                <option value="Japan">Japan</option>
                                <option value="Kenya">Kenya</option>
                                <option value="Latvia">Latvia</option>
                                <option value="Lebanon">Lebanon</option>
                                <option value="Lithuania">Lithuania</option>
                                <option value="Macedonia">Macedonia</option>
                                <option value="Malta">Malta</option>
                                <option value="Morocco">Morocco</option>
                                <option value="Mexico">Mexico</option>
                                <option value="Monaco">Monaco</option>
                                <option value="Mongolia">Mongolia</option>
                                <option value="Nepal">Nepal</option>
                                <option value="New Zealand">New Zealand</option>
                                <option value="Nicaragua">Nicaragua</option>
                                <option value="Nigeria">Nigeria</option>
                                <option value="North Korea">North Korea</option>
                                <option value="Norway">Norway</option>
                                <option value="Panama">Panama</option>
                                <option value="Paraguay">Paraguay</option>
                                <option value="Peru">Peru</option>
                                <option value="Poland">Poland</option>
                                <option value="Portugal">Portugal</option>
                                <option value="Puerto Rico">Puerto Rico</option>
                                <option value="Romania">Romania</option>
                                <option value="Russia">Russia</option>
                                <option value="El Salvador">El Salvador</option>
                                <option value="Serbia">Serbia</option>
                                <option value="Singapore">Singapore</option>
                                <option value="Syria">Syria</option>
                                <option value="South Africa">South Africa</option>
                                <option value="Sweden">Sweden</option>
                                <option value="Switzerland">Switzerland</option>
                                <option value="South Korea">South Korea</option>
                                <option value="Suriname">Suriname</option>
                                <option value="Thailand">Thailand</option>
                                <option value="Turkey">Turkey</option>
                                <option value="Ukraine">Ukraine</option>
                                <option value="Uruguay">Uruguay</option>
                                <option value="Venezuela">Venezuela</option>
                                <option value="Vietnam">Vietnam</option>
                                <option value="Yemen">Yemen</option>
                                <option value="Zimbabwe">Zimbabwe</option>
                            </select>
                        </div>
                    <div class="mb-3 text-center">
                        <input class="form-check-control" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">I have read and accept the Terms and Conditions</label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input type="submit" name="" value="Register" style="background-color: #55CC93;">
                    </div>
                    
                </div> 
                <label for="btn-mensaje" class="cerrar-mensaje"></label>
                </form>
            </div>
        </div>
    </div>
</body>
</html>