<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>ADAP</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous" />
    <link rel="icon" href="">
    <link rel="stylesheet" href="css/styles.css"> 
</head>

<body>
    <div class="row">
        <div class="col-md-4">
            <img src="img/imagen5.png" alt="" style="width: 100%; height: 950px; margin-left:0%; margin-right: 0%;">
        </div>
        <div class="col-md-8" >
            <div class="container position-relative">
                <div class="position-absolute top-0 end-0">
                    <a href="Registro.html">
                        <img src="img/flag.png" alt="" class="rounded float-end" style="width: 5%; margin-left: 15px; margin-right: 15px;">
                    </a>
                    <a href="SignUp.html">
                        <img src="img/united-kingdom.png" class="rounded float-end" alt="" style="width: 5%;">
                    </a>
                </div>
            </div>
            <div class="container text-center">
                <img src="img/LogoU.png" alt="LogoU">
                <h2 class="text-shadow" style="margin-top: 10px; font-size: smaller;">¿Eres empresa? Puedes registrarte como empresa aquí: 
                    <a href="Empresa_Registro.html">Registro ADAP empresas</a> 
                </h2>
            </div>    
            <form class="row g-2 mt-3" style="margin-left: 20px; margin-right: 20px;">
                <div class="col-md-6">
                    <div class="mb-3 text-start">
                        <label for="" class="form-label">Nombres </label>
                        <input type="text" id="" class="form-control" name="" placeholder="">         
                    </div>
                    <div class="mb-3 text-start">
                        <label for="" class="form-label">Apellidos</label>
                        <input type="text" id="" class="form-control" name="" placeholder="">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="" class="form-label">Identificación </label>
                        <input type="text" id="" class="form-control" name="" placeholder="">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="" class="form-label">Género </label>
                        <select id="" class="form-select" name="">
                            <option value="" disabled selected>Seleccione su género</option>
                            <option value="">Masculino</option>
                            <option value="">Femenino</option>
                            <option value="">Otro</option>
                        </select>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="" class="form-label">Nacionalidad </label>
                            <select id="" class="form-select" name="">
                                <option value="" disabled selected>Selecciona tu nacionalidad</option>
                                <option value="">Afgano/a</option>
                                <option value="">Albanés/a</option>
                                <option value="">Alemán/a</option>
                                <option value="">Argelino/a</option>
                                <option value="">Argentino/a</option>
                                <option value="">Australiano/a</option>
                                <option value="">Austríaco/a</option>
                                <option value="">Belga</option>
                                <option value="">Beninés/a</option>
                                <option value="">Boliviano/a</option>
                                <option value="">Botsuano/a</option>
                                <option value="">Brasileño/a</option>
                                <option value="">Británico/a</option>
                                <option value="">Camerunés/a</option>
                                <option value="">Canadiense</option>
                                <option value="">Checo/a</option>
                                <option value="">Chileno/a</option>
                                <option value="">Chino/a</option>
                                <option value="">Colombiano/a</option>
                                <option value="">Congoleño/a</option>
                                <option value="">Costarricense</option>
                                <option value="">Croata</option>
                                <option value="">Cubano/a</option>
                                <option value="">Danés/a</option>
                                <option value="">Ecuatoriano/a</option>
                                <option value="">Egipcio/a</option>
                                <option value="">Español/a</option>
                                <option value="">Estadounidense</option>
                                <option value="">Eslovaco/a</option>
                                <option value="">Esloveno/a</option>
                                <option value="">Etíope</option>
                                <option value="">Filipino/a</option>
                                <option value="">Finlandés/a</option>
                                <option value="">Francés/a</option>
                                <option value="">Griego/a</option>
                                <option value="">Guyanés/a</option>
                                <option value="">Holandés/a</option>
                                <option value="">Hondureño/a</option>
                                <option value="">Húngaro/a</option>
                                <option value="">Indio/a</option>                                
                                <option value="">Iraní</option>
                                <option value="">Iraquí</option>
                                <option value="">Irlandés/a</option>
                                <option value="">Islandés/a</option>
                                <option value="">Israelí</option>
                                <option value="">Italiano/a</option>
                                <option value="">Jamaicano/a</option>
                                <option value="">Japonés/a</option>
                                <option value="">Keniano/a</option>
                                <option value="">Letón/a</option>
                                <option value="">Libanés/a</option>
                                <option value="">Lituano/a</option>
                                <option value="">Macedonio/a</option>
                                <option value="">Maltés/a</option>
                                <option value="">Marroquí</option>
                                <option value="">Mexicano/a</option>
                                <option value="">Monegasco/a</option>
                                <option value="">Mongol/a</option>
                                <option value="">Nepalí</option>
                                <option value="">Neozelandés/a</option>
                                <option value="">Nicaragüense</option>
                                <option value="">Nigeriano/a</option>
                                <option value="">Norcoreano/a</option>
                                <option value="">Noruego/a</option>
                                <option value="">Panameño/a</option>
                                <option value="">Paraguayo/a</option>
                                <option value="">Peruano/a</option>
                                <option value="">Polaco/a</option>
                                <option value="">Portugués/a</option>
                                <option value="">Puertorriqueño/a</option>
                                <option value="">Rumano/a</option>
                                <option value="">Ruso/a</option>
                                <option value="">Salvadoreño/a</option>
                                <option value="">Serbio/a</option>
                                <option value="">Singapurense</option>
                                <option value="">Sirio/a</option>
                                <option value="">Sudafricano/a</option>
                                <option value="">Sueco/a</option>
                                <option value="">Suizo/a</option>
                                <option value="">Surcoreano/a</option>
                                <option value="">Surinamés/a</option>
                                <option value="">Tailandés/a</option>
                                <option value="">Turco/a</option>
                                <option value="">Ucraniano/a</option>
                                <option value="">Uruguayo/a</option>
                                <option value="">Venezolano/a</option>
                                <option value="">Vietnamita</option>
                                <option value="">Yemení</option>
                                <option value="">Zimbabuense</option>
                            </select>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="" class="form-label">Teléfono </label>
                        <input type="text" id="" class="form-control" name="" placeholder="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 text-start">
                        <label for="" class="form-label">País de Residencia </label>
                        <select id="" class="form-select" name="">
                            <option value="" disabled selected>Selecciona tu país de residencia</option>
                            <option value="Afganistán">Afganistán</option>
                            <option value="Albania">Albania</option>
                            <option value="Alemania">Alemania</option>
                            <option value="Argelia">Argelia</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Australia">Australia</option>
                            <option value="Austria">Austria</option>
                            <option value="Bélgica">Bélgica</option>
                            <option value="Benín">Benín</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Botsuana">Botsuana</option>
                            <option value="Brasil">Brasil</option>
                            <option value="Reino Unido">Reino Unido</option>
                            <option value="Camerún">Camerún</option>
                            <option value="Canadá">Canadá</option>
                            <option value="República Checa">República Checa</option>
                            <option value="Chile">Chile</option>
                            <option value="China">China</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Congo">Congo</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Croacia">Croacia</option>
                            <option value="Cuba">Cuba</option>
                            <option value="Dinamarca">Dinamarca</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Egipto">Egipto</option>
                            <option value="España">España</option>
                            <option value="Estados Unidos">Estados Unidos</option>
                            <option value="Eslovaquia">Eslovaquia</option>
                            <option value="Eslovenia">Eslovenia</option>
                            <option value="Etiopía">Etiopía</option>
                            <option value="Filipinas">Filipinas</option>
                            <option value="Finlandia">Finlandia</option>
                            <option value="Francia">Francia</option>
                            <option value="Grecia">Grecia</option>
                            <option value="Guayana">Guayana</option>
                            <option value="Países Bajos">Países Bajos</option>
                            <option value="Honduras">Honduras</option>
                            <option value="Hungría">Hungría</option>
                            <option value="India">India</option>
                            <option value="Irán">Irán</option>
                            <option value="Irak">Irak</option>
                            <option value="Irlanda">Irlanda</option>
                            <option value="Islandia">Islandia</option>
                            <option value="Israel">Israel</option>
                            <option value="Italia">Italia</option>
                            <option value="Jamaica">Jamaica</option>
                            <option value="Japón">Japón</option>
                            <option value="Kenia">Kenia</option>
                            <option value="Letonia">Letonia</option>
                            <option value="Líbano">Líbano</option>
                            <option value="Lituania">Lituania</option>
                            <option value="Macedonia">Macedonia</option>
                            <option value="Malta">Malta</option>
                            <option value="Marruecos">Marruecos</option>
                            <option value="México">México</option>
                            <option value="Mónaco">Mónaco</option>
                            <option value="Mongolia">Mongolia</option>
                            <option value="Nepal">Nepal</option>
                            <option value="Nueva Zelanda">Nueva Zelanda</option>
                            <option value="Nicaragua">Nicaragua</option>
                            <option value="Nigeria">Nigeria</option>
                            <option value="Corea del Norte">Corea del Norte</option>
                            <option value="Noruega">Noruega</option>
                            <option value="Panamá">Panamá</option>
                            <option value="Paraguay">Paraguay</option>
                            <option value="Perú">Perú</option>
                            <option value="Polonia">Polonia</option>
                            <option value="Portugal">Portugal</option>
                            <option value="Puerto Rico">Puerto Rico</option>
                            <option value="Rumania">Rumania</option>
                            <option value="Rusia">Rusia</option>
                            <option value="El Salvador">El Salvador</option>
                            <option value="Serbia">Serbia</option>
                            <option value="Singapur">Singapur</option>
                            <option value="Siria">Siria</option>
                            <option value="Sudáfrica">Sudáfrica</option>
                            <option value="Suecia">Suecia</option>
                            <option value="Suiza">Suiza</option>
                            <option value="Corea del Sur">Corea del Sur</option>
                            <option value="Surinam">Surinam</option>
                            <option value="Tailandia">Tailandia</option>
                            <option value="Turquía">Turquía</option>
                            <option value="Ucrania">Ucrania</option>
                            <option value="Uruguay">Uruguay</option>
                            <option value="Venezuela">Venezuela</option>
                            <option value="Vietnam">Vietnam</option>
                            <option value="Yemen">Yemen</option>
                            <option value="Zimbabue">Zimbabue</option>
                        </select>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="" class="form-label">Fecha de nacimiento </label>
                        <input type="date" lang="es" id="" class="form-control" name="" placeholder="">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="" class="form-label">Empresa</label>
                        <input type="text" id="" class="form-control" name="" placeholder="">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="" class="form-label">Cargo</label>
                        <select id="" class="form-select" name="">
                            <option value="" disabled selected>Selecciona tu cargo</option>
                            <option value="CEO">CEO (Director Ejecutivo)</option>
                            <option value="COO">COO (Director de Operaciones)</option>
                            <option value="CFO">CFO (Director Financiero)</option>
                            <option value="CTO">CTO (Director de Tecnología)</option>
                            <option value="CMO">CMO (Director de Marketing)</option>
                            <option value="CIO">CIO (Director de Información)</option>
                            <option value="Director">Director</option>
                            <option value="Gerente">Gerente</option>
                            <option value="Jefe de Departamento">Jefe de Departamento</option>
                            <option value="Supervisor">Supervisor</option>
                            <option value="Analista">Analista</option>
                            <option value="Asistente">Asistente</option>
                            <option value="Especialista">Especialista</option>
                            <option value="Consultor">Consultor</option>
                            <option value="Ingeniero">Ingeniero</option>
                            <option value="Técnico">Técnico</option>
                            <option value="Operario">Operario</option>
                        </select>
                    </div>
                    <div class="mb-3 text-start">
                        <input class="form-check-control" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">¿Eres emprendedor?</label>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="" class="form-label">Emprendimiento</label>
                        <input type="text" id="" class="form-control" name="" placeholder="">
                    </div>
                </div>
                <div class="mb-3 text-center">
                    <input class="form-check-control" type="checkbox" value="" id="">
                    <label class="form-check-label" for="">He Leído y Acepto los Términos y Condiciones</label>
                </div>
                <div class="d-flex justify-content-center">
                    <input type="submit" name="" value="Registrar" style="background-color: #55CC93;">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
